.intermediateDestinationContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.errorMessageStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FF0000;
}