.counterContainer {
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.errorMessageStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FF0000;
}