.routeRow {
    display: flex;
    gap: 20px;
}

.distanceContainer {
    align-self: end;
}

.relativePosition {
    position: relative;
}

.kmNumber {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}